body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width: max-content;
    margin: auto;
}

.search {
    width: max-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 2.5em;
}

.search-form {
    padding: 5px;
    height: inherit;
}

.search-button {
    height: inherit;
}

.video-view {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%;
    margin: auto;
}